<template>
    <div id="change">
        <h1>This is Change page</h1>
    </div>
</template>

<script>
export default {
    name: 'change',
    data() {
        return {
            
        }
    }
}
</script>

