<template>
  <div id="create">
    <v-container>
      <!-- <v-alert :value="success" type="success">This is a success alert.</v-alert>
      <v-alert :value="error" type="warning">This is a warning alert.</v-alert> -->
      <v-form>
        <v-text-field v-model="title" label="Title" required></v-text-field>
        <v-text-field v-model="body" label="Body" required></v-text-field>
        <v-btn @click="create">create</v-btn>
      </v-form>
    </v-container>
  </div>
</template>

<script>
import Vue from 'vue'
import Axios from 'axios'

Vue.use(Axios)

export default {
  name: "create",
    data() {
      return {
        title: "",
        body: "",
        success: false,
        error: false
      };
    },
    methods: {
      create() {
        
        Axios.post("http://localhost:8000/notes/", {
          title: this.title,
          text: this.body
        })
          .then(response => {
            console.log({
              title: this.title,
              body: this.body
            });
            this.success = true 
            this.title = "", 
            this.body = "";
            console.log(response);
            
          })
          .catch(error => {
            (this.error = true), console.log("error", error);
          });
      },
      read() {
        Axios.get("http://localhost:8000/notes/5bfda8caa1a2a100f8a23f93")
          .then(response => {
            console.log("response", response);
          })
          .catch(error => {
            console.log("error", error);
          });
      }
    }
};
</script>