<template>
    <div id="posts">
        <h1>This is Posts page</h1>
        <v-layout>
            <v-flex xs12 sm6 offset-sm3>
            <v-card v-for="post in posts" :key="post.id">
                <v-img
                src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"
                aspect-ratio="2.75"
                ></v-img>

                <v-card-title primary-title>
                <div>
                    <h3 class="headline mb-0">{{post.title}}</h3>
                    <div>{{post.text}}</div>
                </div>
                </v-card-title>

                <v-card-actions>
                <v-btn flat color="orange">Change</v-btn>
                <v-btn flat color="orange">Delete</v-btn>
                </v-card-actions>
            </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
import Vue from 'vue'
import Axios from 'axios'

Vue.use(Axios)
export default {
    name: 'posts',
    data() {
        return {
            posts: []
        }
    },
    methods: {
        getPosts() {
          Axios.get("http://localhost:8000/notes/5bfdb0d86e622b2fd8cd7e5e")
            .then(response => {
                console.log("response", response);
                this.posts.push(response.data)
            })
            .catch(error => {
              console.log("error", error);
            });
        }
    },
    mounted: function() {
        this.getPosts()
    }
}
</script>

