<template>
  <div id="app">
      <!-- <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
          <v-flex v-for="item in nav" :key="item.title" xs4>
            <v-card>
              <v-card-text class="px-0">
                <router-link :to="item.link">{{item.title}}</router-link>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container> -->
     <Posts></Posts>
     <Create></Create>
  </div>
</template>

<script>
import Vue from 'vue'
import Axios from 'axios'
import Posts from './pages/Posts'
import Create from './pages/Create'

Vue.use(Axios)

export default {
  name: 'app',
  components: {
    Posts,
    Create
  },
  data () {
    return {
      // nav: [
      //   {
      //     title: 'Create', 
      //     link: '/create'
      //   },
      //   {
      //     title: 'Posts', 
      //     link: '/posts'
      //   },
      //   {
      //     title: 'Change', 
      //     link: '/change'
      //   }
      // ]
    }
  }
}
</script>

<style lang="scss">

</style>
